{% extends "header.html" %}
{% block content %}
 <script>
        function AddFamFeild(spanid,namefam)
        {
            str = '<br/><input type="text" class="form-control" name="'+namefam+'">';
            $(spanid).append(str);
        }
        function AddTextFeild()
        {
            $('#foodallergy').append('<br/><input type="text" class="form-control" name="mc4_9[]">');
        }
        function AddOrganFeild()
        {
            $('#OrganFeild').append('<tr><td><input type="date" class="form-control" name="OrganDate[]"></td><td><input type="text" class="form-control" name="Organ[]"></td><td><input type="text" class="form-control" name="OrganTreat[]"></td><td><input type="text" class="form-control" name="OrganResult[]"></td></tr>');
        }
        function AddCompFeild()
        {
            $('#CompFeild').append('<tr><td><input type="date" class="form-control" name="CompDate[]"></td><td><input type="text" class="form-control" name="CompOrgan[]"></td><td><input type="text" class="form-control" name="CompTreat[]"></td><td><input type="text" class="form-control" name="CompRemiss[]"></td></tr>');
        }
        function updatePieFact(){
            var data = {'pieFact': pieFact};
            $.post(URL, data, function(response){
                if(response === 'success'){ alert('Yay!'); }
                else{ alert('Error! :('); }
            });
        }
        $(document).ready(function(){
            $('#bttnMinus').click(function(){
                pieFact *= 0.9;
                updatePieFact();
            });
            $('#bttnPlus').click(function(){
                pieFact *= 1.1;
                updatePieFact();
            }); 
        });

        
        $(document).ready(function(){
            {% if familyhistory.familyhistoryofautoimmunedisease == 'Yes' %}  $('#ShowFormAuto').show(); {% endif %}
            {% if familyhistory.renaldiseasefamilyhistory == 'Yes' %}  $('#ShowFormRenal').show(); {% endif %}
            {% if familyhistory.systemicautoimmune is True %} 
                $("#SysAuto1").show();
                $("#SysAuto2").show();
                $("#SysAuto3").show();
                $("#SysAuto4").show();
                $("#SysAuto5").show();
            {% endif %}
            {% if familyhistory.tissuespecificautoimmune is True %} 
                $("#TisAuto1").show();
                $("#TisAuto2").show();
                $("#TisAuto3").show();
                $("#TisAuto4").show();
                $("#TisAuto5").show();
            {% endif %}
        });
    </script>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                 <!-- For Follow up -->
                <li style="background-color: #455379;"><a href="{% url 'patientrecord' patient.studynumber %}"> SN : {{patient.studynumber}} </a></li>
                <!--Normal-->
                <li>
                <a href="{% url 'index' %}"> Home </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> ประวัติส่วนตัว</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> ตั้งค่า</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> ลงชื่อออก</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    <div id="page-wrapper">
        <form action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="float: left;"> 
                        <p style="font-size: 18px; margin: 4px; padding-right:1em"><b>Enrollment</b></p>
                    </div>
                    <div style="float: left;"> 
                        <p style="font-size: 14px; margin: 6px; color: #A4A4A4;"><span style="padding-left:1em" class="glyphicon glyphicon-time"></span> {{patient.dateofenrollment}}</p>
                    </div>
                    <div style="float: right;"><a class="btn btn-warning" href="{% url 'enrollEdit' patient.studynumber %}">Edit</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="x_panel">
                        <div class="x_title"> 
                                <h2>Study Identity</h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of diagnosis</label>  
                                    <div class="form-group">
                                        <p class="form-control">{{patient.dateofdiagnosis}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of enrollment</label>  
                                    <div class="form-group">
                                        <p class="form-control">{{patient.dateofenrollment}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <div class="form-group">
                                        <p class="form-control">{{patient.gender}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of birth</label>  
                                    <div class="form-group">
                                        <p class="form-control">{{patient.dateofbirth}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Religion</label>
                                    <div class="form-group">
                                        <p class="form-control">{{patient.religion}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Region</label>
                                    <div class="form-group">
                                        <p class="form-control">{{patient.region}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Marital Status</label> 
                                    <div class="form-group">
                                        <p class="form-control">{{patient.maritalstatus}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Education</label>
                                    <div class="form-group">
                                        <p class="form-control">{{patient.education}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label>Occupation</label>  
                                   <div class="form-group">
                                        <p class="form-control">{{patient.occupation}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Income</label>
                                    <div class="form-group">
                                        <p class="form-control">{{patient.income}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                <!--Family history-->
                <div class="x_panel">
                        <div class="x_title"> 
                                <h2>Family history</h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">                        
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="col-lg-6 col-md-6 col-sm-6">Family history of autoimmune disease </label> 
                                <div class="form-group col-lg-4 col-md-4 col-sm-4"> 
                                    <select class="form-control" id="FamHisAuto"> 
                                        <option {% if familyhistory.familyhistoryofautoimmunedisease == 'No' %} selected {% endif %} value="No">No</option>
                                        <option {% if familyhistory.familyhistoryofautoimmunedisease == 'Yes' %} selected {% endif %} value="Yes">Yes</option>
                                        <option {% if familyhistory.familyhistoryofautoimmunedisease == 'Unknown' %} selected {% endif %} value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>   
                            <div class="col-lg-8 col-md-8 col-sm-8" id="ShowFormAuto" style="display:none;">
                                <div class="form-group"> 
                                    <label class="col-lg-6 col-md-6 col-sm-6">Systemic autoimmune</label> 
                                    <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" id="SysAuto" {% if familyhistory.systemicautoimmune is True %} checked {% endif %}> 
                                </div>
                                <div id="SysAuto1" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">SLE</label> 
                                    {% for text in familyhistory.sle %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                            
                                <div id="SysAuto2" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">RA</label>
                                    {% for text in familyhistory.ra %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                <div id="SysAuto3" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Dermatomyositis</label> 
                                    {% for text in familyhistory.dermatomyositis %}
                                        {{text}}
                                    {% endfor %} 
                                </div>
                                <div id="SysAuto4" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Systemic sclerosis</label> 
                                    {% for text in familyhistory.systemicsclerosis %}
                                        {{text}}
                                    {% endfor %} 
                                </div>
                                <div id="SysAuto5" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Sjogren's Syndrome</label> 
                                    {% for text in familyhistory.sjogrensyndrome %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                    
                                                
                                <div class="form-group"> 
                                    <label class="col-lg-6 col-md-6 col-sm-6">Tissue-specific autoimmune</label> 
                                    <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" id="TisAuto" {% if familyhistory.tissuespecificautoimmune is True %} checked {% endif %}> 
                                </div>
                                            
                                <div id="TisAuto1" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">DM Type 1</label> 
                                    {% for text in familyhistory.dmtypeone %}
                                        {{text}}
                                    {% endfor %}  
                                </div>
                                <div id="TisAuto2" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Hashimoto's thyroidditis</label> 
                                    {% for text in familyhistory.hashimotosthyroiditis %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                <div id="TisAuto3" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Multiple sclerosis</label> 
                                    {% for text in familyhistory.multiplesclerosis %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                <div id="TisAuto4" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Myasthenia gravis</label> 
                                    {% for text in familyhistory.myastheniagravis %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                                <div id="TisAuto5" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Other</label> 
                                    {% for text in familyhistory.tissuespecificother %}
                                        {{text}}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="col-lg-6 col-md-6 col-sm-6">Family history of renal disease/chronic glomerulonephritis</label> 
                                <div class="form-group col-lg-4 col-md-4 col-sm-4"> 
                                    <select class="form-control" id="FamHisRenal"> 
                                        <option {% if familyhistory.renaldiseasefamilyhistory == 'No' %} selected {% endif %} value="No">No</option>
                                        <option {% if familyhistory.renaldiseasefamilyhistory == 'Yes' %} selected {% endif %} value="Yes">Yes</option>
                                        <option {% if familyhistory.renaldiseasefamilyhistory == 'Unknown' %} selected {% endif %} value="Unknow">Unknown</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-lg-8 col-md-8 col-sm-8" id="ShowFormRenal" style="display:none;">
                                <label class="col-lg-10 col-md-10 col-sm-10">Nephrotic syndrome /Glomerular disease</label>
                                {% for text in familyhistory.nephroticsyndrome_glomerulardisease %}
                                    {{text}}
                                {% endfor %}
                                <label class="col-lg-8 col-md-8 col-sm-8">Stone </label>
                                {% for text in familyhistory.stone %}
                                    {{text}}
                                {% endfor %}
                                <label class="col-lg-8 col-md-8 col-sm-8">ESRD  </label>
                                {% for text in familyhistory.esrd %}
                                    {{text}}
                                {% endfor %}
                                <label class="col-lg-8 col-md-8 col-sm-8">Other</label>
                                {% for text in familyhistory.renalother %}
                                    {{text}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                
                <!--Revised ACR criteria -->
                <div class="x_panel">
                    <div class="x_title"> 
                                <h2>SLE criteria</h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <table class="table table-striped table-bordered" style="margin-bottom: 5px;">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center">Revised ACR criteria</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr1 is True %} checked="checked" {% endif %}> Serositis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr2 is True %} checked="checked" {% endif %}> Malar rash
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr3 is True %} checked="checked" {% endif %}> Renal disorder
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr4 is True %} checked="checked" {% endif %}> Discoid rash
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr5 is True %} checked="checked" {% endif %}> Neurological disorder
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr6 is True %} checked="checked" {% endif %}> Oral ulcers
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr7 is True %} checked="checked" {% endif %}> Photosensitivity
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr8 is True %} checked="checked" {% endif %}> Immunological disorder
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr9 is True %} checked="checked" {% endif %}> Photosensitivity
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr10 is True %} checked="checked" {% endif %}> Arthritis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if acrcriteria.acr11 is True %} checked="checked" {% endif %}> Positive ANA
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <table class="table table-striped table-bordered" style="margin-bottom: 5px;">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center" colspan="2">SLICC criteria</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc1 is True %} checked="checked" {% endif %}> Acute cutaneous
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc2 is True %} checked="checked" {% endif %}> Chronic cutaneous
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc3 is True %} checked="checked" {% endif %}> Mucosal ulcer
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc4 is True %} checked="checked" {% endif %}> Non scaring alopecia
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc5 is True %} checked="checked" {% endif %}> Arthritis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc6 is True %} checked="checked" {% endif %}> Serositis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc7 is True %} checked="checked" {% endif %}> Renal
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc8 is True %} checked="checked" {% endif %}> Neuro
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc9 is True %} checked="checked" {% endif %}> Hemolytic anemia
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc10 is True %} checked="checked" {% endif %}> Leukopenia/lymphopenia
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc11 is True %} checked="checked" {% endif %}> Thrombocytopenia
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc12 is True %} checked="checked" {% endif %}> ANA
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc13 is True %} checked="checked" {% endif %}> Anti-DNA
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc14 is True %} checked="checked" {% endif %}> Anti-Sm
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc15 is True %} checked="checked" {% endif %}> Anti-phospholipid
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc16 is True %} checked="checked" {% endif %}> Low complement
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if slicccriteria.slicc17 is True %} checked="checked" {% endif %}> Direct coomb's test
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>    
                <!--Medical Condition -->
                <div class="x_panel">
                        <div class="x_title"> 
                                <h2>Medical condition</h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center">Systemic autoimmune diseases</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_2 is True %} checked="checked" {% endif %}> Antiphospholipid Ab  Syndrome
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_3 is True %} checked="checked" {% endif %}> Rheumatoid arthritis (RA)
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_4 is True %} checked="checked" {% endif %}> Dermatomyositis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_5 is True %} checked="checked" {% endif %}> Polymyositis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_6 is True %} checked="checked" {% endif %}> Systemic sclerosis (SSc)
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_7 is True %} checked="checked" {% endif %}> Sjogren's Syndrome (SS)
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_8 is True %} checked="checked" {% endif %}> Mixed connective tissue disease
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_9 is True %} checked="checked" {% endif %}> LE/LP overlap syndrome
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_10 is True %} checked="checked" {% endif %}> Primary biliary cirrhosis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc1_11 is True %} checked="checked" {% endif %}> Primary sclerosing cholangitis
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-md-7 col-sm-7 col-xs-12">
                                <table class="table table-striped table-bordered" style="margin-bottom: 5px;">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center" colspan="2">Tissue-specific autoimmune diseases</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc2_2 is True %} checked="checked" {% endif %}> DM type 1
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc2_3 is True %} checked="checked" {% endif %}> Hashimoto's thyroiditis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc2_4 is True %} checked="checked" {% endif %}> Multiple sclerosis
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc2_5 is True %} checked="checked" {% endif %}> Myasthenia gravis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc2_6 is True %} checked="checked" {% endif %}> Autoimmune hepatitis
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center"> Metabolic & CVS co-morbidity</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc3_2 is True %} checked="checked" {% endif %}> DM type 2
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc3_3 is True %} checked="checked" {% endif %}> Hypertension
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc3_4 is True %} checked="checked" {% endif %}> Hyperlipidemia
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc3_5 is True %} checked="checked" {% endif %}> CAD
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr scope="row"><td class="text-center" align="center" colspan="3">Allergy</td></tr>
                                        <tr>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_2 is True %} checked="checked" {% endif %}> Allergic rhinitis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_3 is True %} checked="checked" {% endif %}> Allergic conjunctivitis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_4 is True %} checked="checked" {% endif %}> Asthma
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_5 is True %} checked="checked" {% endif %}> Atopic dermatitis
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_6 is True %} checked="checked" {% endif %}> Allergic urticaria
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_7 is True %} checked="checked" {% endif %}> Anaphylaxis
                                                    </div>
                                                    <div class="checkbox">
                                                        <input type="checkbox" {% if medicalcondition.mc4_8 is True %} checked="checked" {% endif %}> Hay fever
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                  <input type="checkbox" {% if medicalcondition.mc4_9 is None %} checked="checked" {% endif %}> Food allergy
                                                </div>
                                                <p class="form-control">
                                                    {% for text in medicalcondition.mc4_9 %} 
                                                        {{text}} | 
                                                    {% endfor %} 
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><h4 class="page-header">Other Co-morbidity</h4></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                            <label>1) Infection</label>  
                                            <div class="form-group">
                                                {{medicalcondition.mc5_2_1}}
                                            </div>
                                            </div>
                                        </td>                                        
                                        <td><p class="form-control">{{medicalcondition.mc5_2_2}}</p></td>
                                        <td><p class="form-control">{{medicalcondition.mc5_2_3}}</p></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                            <label>2) Major surgery</label>  
                                            <div class="form-group">
                                            {{medicalcondition.mc5_3_1}}
                                            </div>
                                            </div>
                                        </td> 
                                                                  
                                        <td><p class="form-control">{{medicalcondition.mc5_3_2}}</p></td>
                                        <td><p class="form-control">{{medicalcondition.mc5_3_3}}</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>3) Osteoporosis/Fx</p></td>                                        
                                        <td><p class="form-control">{{medicalcondition.mc5_4_1}}</p></td>
                                        <td><p class="form-control">{{medicalcondition.mc5_4_2}}</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>4) Malignancy</p></td>                                        
                                        <td><p class="form-control">{{medicalcondition.mc5_5_1}}</p></td>
                                        <td><p class="form-control">{{medicalcondition.mc5_5_1}}</p></td>
                                    </tr>
                                </tbody>
                            </table>                                    
                        </div>
                    </div>
                </div>
                <!--Organ Involvement -->
                <div class="x_panel">
                        <div class="x_title"> 
                                <h2>Organ Involvement</h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Organ</th>
                                            <th>Treatment</th>
                                            <th>Remission</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in previousorganinvolvement %} 
                                            <tr>
                                            <td>{{record.detail.date}}</td>
                                            <td>{{record.detail.organ}}</td>
                                            <td>{{record.detail.treatment}}</td>
                                            <td>{{record.detail.result}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>   
                </div>
                <!--Previous Complication  -->
                <div class="x_panel">
                        <div class="x_title"> 
                                <h2>Previous Complication </h2>
								<ul class="nav navbar-right panel_toolbox">	
								</ul>
								<div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Organ</th>
                                            <th>Treatment</th>
                                            <th>Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in previouscomplication %} 
                                            <tr>
                                            <td>{{record.detail.date}}</td>
                                            <td>{{record.detail.organ}}</td>
                                            <td>{{record.detail.treatment}}</td>
                                            <td>{{record.detail.result}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function(){
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
          });
        });
    </script>
{% endblock %}
