{% extends "header.html" %}
{% block content %}

    <script>
        function AddFamFeild(spanid,namefam)
        {
            str = '<br/><input type="text" class="form-control" name="'+namefam+'">';
            $(spanid).append(str);
        }
        function AddTextFeild()
        {
            $('#foodallergy').append('<br/><input type="text" class="form-control" name="mc4_9[]">');
        }
        function AddOrganFeild()
        {
            $('#OrganFeild').append('<tr><td><input type="date" class="form-control" name="OrganDate[]"></td><td><input type="text" class="form-control" name="Organ[]"></td><td><input type="text" class="form-control" name="OrganTreat[]"></td><td><input type="text" class="form-control" name="OrganResult[]"></td></tr>');
        }
        function AddCompFeild()
        {
            $('#CompFeild').append('<tr><td><input type="date" class="form-control" name="CompDate[]"></td><td><input type="text" class="form-control" name="CompOrgan[]"></td><td><input type="text" class="form-control" name="CompTreat[]"></td><td><input type="text" class="form-control" name="CompRemiss[]"></td></tr>');
        }
        function updatePieFact(){
            var data = {'pieFact': pieFact};
            $.post(URL, data, function(response){
                if(response === 'success'){ alert('Yay!'); }
                else{ alert('Error! :('); }
            });
        }
        $(document).ready(function(){
            $('#bttnMinus').click(function(){
                pieFact *= 0.9;
                updatePieFact();
            });
            $('#bttnPlus').click(function(){
                pieFact *= 1.1;
                updatePieFact();
            }); 
        });

        
        $(document).ready(function(){
            $('#FamHisAuto').change(function(){
                if($(this).val() == 'Yes'){
                    $('#ShowFormAuto').show();
                }
                else{
                    $('#ShowFormAuto').hide();
                }
            })
        });
        $(document).ready(function(){
            $('#FamHisRenal').change(function(){
                if($(this).val() == 'Yes'){
                    $('#ShowFormRenal').show();
                }
                else{
                    $('#ShowFormRenal').hide();
                }
            })
        });
        $(document).ready(function(){
            $('#SysAuto').change(function(){
                if(this.checked){
                    $("#SysAuto1").show();
                    $("#SysAuto2").show();
                    $("#SysAuto3").show();
                    $("#SysAuto4").show();
                    $("#SysAuto5").show();
                }
                else{
                    $("#SysAuto1").hide();
                    $("#SysAuto2").hide();
                    $("#SysAuto3").hide();
                    $("#SysAuto4").hide();
                    $("#SysAuto5").hide();
                }
            })
        });
        $(document).ready(function(){
            $('#TisAuto').change(function(){
                if(this.checked){
                    $("#TisAuto1").show();
                    $("#TisAuto2").show();
                    $("#TisAuto3").show();
                    $("#TisAuto4").show();
                    $("#TisAuto5").show();
                }
                else{
                    $("#TisAuto1").hide();
                    $("#TisAuto2").hide();
                    $("#TisAuto3").hide();
                    $("#TisAuto4").hide();
                    $("#TisAuto5").hide();
                }
            })
        });
        function AddOrgan() {
            
        }
    </script>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!-- For Follow up -->
                <li style="background-color: #455379;"><a href="{% url "patientrecord" %}"> <i class="fa fa-file"></i> ภาพรวมคนไข้ </a></li>
                <li style="background-color: #455379;"><a> Study number: 500 </a></li>
                <!--Normal-->
                <li>
                <a href="{% url "index" %}"> ภาพรวมคนไข้ทั้งหมด </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> ประวัติส่วนตัว</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> ตั้งค่า</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url "logout" %}"><i class="fa fa-fw fa-power-off"></i> ลงชื่อออก</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        
   <!-- เริ่มทำฟอร์ม จ้ากกกก -->
    <div id="page-wrapper">
        <form method="post" action="{% url 'EnrollPatient' %}">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="float: left;"> 
                        <p style="font-size: 18px; margin: 4px; padding-right:1em"><b>Enrollment</b></p>
                    </div>
                    <div style="float: left;"> 
                        <p style="font-size: 14px; margin: 6px; color: #A4A4A4;"><span style="padding-left:1em" class="glyphicon glyphicon-time"></span> วันที่ 1 มกราคม 2560</p>
                    </div>
                    <div style="float: right;"><button type="submit" class="btn btn-primary">Save</button> <button type="submit" class="btn">Cancel</button></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <!--Study Identity -->
                <div class="panel panel-primary">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">Study Identity</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of diagnosis</label>  
                                    <div class="form-group">
                                        <input type="date" class="form-control" name="dateofdiagnosis">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of enrollment</label>  
                                    <div class="form-group">
                                        <input type="date" class="form-control" name="dateofenrollment">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Gender</label>  
                                    <div data-toggle="buttons">
                                        <label class="btn btn-default active">
                                            <input type="radio" name="gender" id="option1" autocomplete="off" value="Male" checked>Male
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="gender" id="option2" autocomplete="off" value="Female">Female
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="gender" id="option3" autocomplete="off" value="Missing">Missing
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Date of birth</label>  
                                    <div class="form-group">
                                        <input type="date" class="form-control" name="dateofbirth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Religion</label>
                                    <input type="text" class="form-control" name="religion">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Education</label>
                                    <input type="text" class="form-control" name="education">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Marital Status</label>  
                                    <div data-toggle="buttons">
                                        <label class="btn btn-default active">
                                            <input type="radio" name="maritalstatus" id="option1" autocomplete="off" value="Single" checked>Single
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="maritalstatus" id="option2" autocomplete="off" value="Married">Married
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="maritalstatus" id="option3" autocomplete="off" value="Divorce">Divorced
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="maritalstatus" id="option4" autocomplete="off" value="Widowed">Widowed
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="maritalstatus" id="option5" autocomplete="off" value="Missing">Missing
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Region</label>
                                    <select class="form-control" name="region">
                                        <option>Central</option>
                                        <option>North</option>
                                        <option>Northeast</option>
                                        <option>East</option>
                                        <option>West</option>
                                        <option>South</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Occupation</label>  
                                    <select class="form-control" name="occupation">
                                        <option>Government/State enterprises office</option>
                                        <option>Private company employee</option>
                                        <option>Business owner/Retail</option>
                                        <option>Farmer/Agricultural worker </option>
                                        <option>Pensioner</option>
                                        <option>Student</option>
                                        <option>Housewife/Unemployed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Income</label>
                                     <select class="form-control" name="income">
                                     <option>&lt;5000</option>
                                     <option>5001-10000</option>
                                     <option>10001-20000</option>
                                     <option>20001-30000</option>
                                     <option>30001-40000</option>
                                     <option>&gt;40000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--Revised ACR criteria -->
                <div class="panel panel-primary">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">Revised ACR criteria</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Serositis</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr1"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Malar rash</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr2"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Renal disorder</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr3"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Discoid rash</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr4"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Neurological disorder</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr5"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Photosensitivity</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr6"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Haematological disorder</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr7"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Oral ulcers	</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr8"> 
                            </div> 
                            <div class="col-lg-6col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Immunological disorder</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr9"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Arthritis</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr10"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Positive ANA</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="acr11"> 
                            </div>
                        </div>
                    </div>
                <!--SLICC criteria -->
                <div class="panel panel-primary">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">SLICC criteria</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Acute cutaneous </label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc1"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Chronic cutaneous</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc2"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Mucosal ulcer</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc3"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Non scaring alopecia</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc4"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Arthritis</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc5"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Serositis</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc6"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Renal</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc7"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Neuro</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc8"> 
                            </div>
                            <div class="col-lg-6col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Hemolytic anemia</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc9"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Leukopenia/lymphopenia</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc10"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Thrombocytopenia</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc11"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">ANA	</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc12"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Anti-DNA</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc13"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Anti-Sm</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc14"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Anti-phospholipid</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="slicc15"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Low complement</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc16"> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="col-lg-8 col-md-8 col-sm-8">Direct coomb's test</label> 
                                <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" value="1" name="slicc17"> 
                            </div>
                        </div>
                    </div>         
                <!--Family history-->
                <div class="panel panel-primary">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">Family history</h3>
                        </div>
                        <div class="panel-body">                        
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="col-lg-6 col-md-6 col-sm-6">Family history of autoimmune disease </label> 
                                <div class="form-group col-lg-4 col-md-4 col-sm-4"> 
                                    <select class="form-control" id="FamHisAuto" name="FamAuto"> 
                                        <option selected value="No">No</option>
                                        <option value="Yes">Yes</option>
                                        <option value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>   
                            <div class="col-lg-8 col-md-8 col-sm-8" id="ShowFormAuto" style="display:none;">
                                <div class="form-group"> 
                                    <label class="col-lg-6 col-md-6 col-sm-6">Systemic autoimmune</label> 
                                    <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" id="SysAuto" name="systemicautoimmune"> 
                                </div>
                                <div id="SysAuto1" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">SLE</label> 
                                    <span id="sle"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#sle','sle[]')" value="Add">  
                                </div>
                                            
                                <div id="SysAuto2" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">RA</label> 
                                    <span id="ra"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#ra','ra[]')" value="Add"> 
                                </div>
                                <div id="SysAuto3" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Dermatomyositis</label> 
                                    <span id="dermatomyositis"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#dermatomyositis','dermatomyositis[]')" value="Add">  
                                </div>
                                <div id="SysAuto4" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Systemic sclerosis</label> 
                                    <span id="systemicsclerosis"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#systemicsclerosis','systemicsclerosis[]')" value="Add"> 
                                </div>
                                <div id="SysAuto5" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Sjogren's Syndrome</label> 
                                    <span id="sjogrensyndrome"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#sjogrensyndrome','sjogrensyndrome[]')" value="Add"> 
                                </div>
                                    
                                                
                                <div class="form-group"> 
                                    <label class="col-lg-6 col-md-6 col-sm-6">Tissue-specific autoimmune</label> 
                                    <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" id="TisAuto" name="tissuespecificautoimmune"> 
                                </div>
                                            
                                <div id="TisAuto1" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">DM Type 1</label> 
                                    <span id="dmtypeone"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#dmtypeone','dmtypeone[]')" value="Add">  
                                </div>
                                <div id="TisAuto2" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Hashimoto's thyroidditis</label> 
                                    <span id="hashimotosthyroiditis"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#hashimotosthyroiditis','hashimotosthyroiditis[]')" value="Add"> 
                                </div>
                                <div id="TisAuto3" style="display:none;">
                                    <label class="col-lg-8 col-md-8 col-sm-8">Multiple sclerosis</label> 
                                    <span id="multiplesclerosis"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#multiplesclerosis','multiplesclerosis[]')" value="Add"> 
                                </div>
                                <div id="TisAuto4" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Myasthenia gravis</label> 
                                    <span id="myastheniagravis"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#myastheniagravis','myastheniagravis[]')" value="Add"> 
                                </div>
                                <div id="TisAuto5" style="display:none;">    
                                    <label class="col-lg-8 col-md-8 col-sm-8">Other</label> 
                                    <span id="tissuespecificother"></span>
                                    <input type="button" class="btn btn-default" onclick="AddFamFeild('#tissuespecificother','tissuespecificother[]')" value="Add"> 
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="col-lg-6 col-md-6 col-sm-6">Family history of renal disease/chronic glomerulonephritis</label> 
                                <div class="form-group col-lg-4 col-md-4 col-sm-4"> 
                                    <select class="form-control" id="FamHisRenal" name="FamRenal"> 
                                        <option selected value="No">No</option>
                                        <option value="Yes">Yes</option>
                                        <option value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-lg-8 col-md-8 col-sm-8" id="ShowFormRenal" style="display:none;">
                                <label class="col-lg-10 col-md-10 col-sm-10">Nephrotic syndrome /Glomerular disease</label>
                                <span id="nephroticsyndrome_glomerulardisease"></span>
                                <input type="button" class="btn btn-default" onclick="AddFamFeild('#nephroticsyndrome_glomerulardisease','nephroticsyndrome_glomerulardisease[]')" value="Add"> 
                                <label class="col-lg-8 col-md-8 col-sm-8">Stone </label>
                                <span id="stone"></span>
                                <input type="button" class="btn btn-default" onclick="AddFamFeild('#stone','stone[]')" value="Add"> 
                                <label class="col-lg-8 col-md-8 col-sm-8">ESRD  </label>
                                 <span id="esrd"></span>
                                <input type="button" class="btn btn-default" onclick="AddFamFeild('#esrd','esrd[]')" value="Add"> 
                                <label class="col-lg-8 col-md-8 col-sm-8">Other</label>
                                 <span id="renalother"></span>
                                <input type="button" class="btn btn-default" onclick="AddFamFeild('#renalother','renalother[]')" value="Add"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                <!--Medical Condition -->
                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Medical Condition</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-12 col-md-12 col-sm-12"><h3 class="page-header">Systemic autoimmune diseases</h3></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Antiphospholipid Ab  Syndrome</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_2"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Rheumatoid arthritis (RA) </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_3"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Dermatomyositis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_4"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Polymyositis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_5"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Systemic sclerosis (SSc) </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_6"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Sjogren's Syndrome (SS) </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_7"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Mixed connective tissue disease  </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_8"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">LE/LP overlap syndrome </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_9"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Primary biliary cirrhosis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_10"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Primary sclerosing cholangitis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc1_11"> 
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><h3 class="page-header">Tissue-specific autoimmune diseases</h3></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">DM type 1 </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc2_2"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Hashimoto's thyroiditis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc2_3"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Multiple sclerosis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc2_4"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Myasthenia gravis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc2_5"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Autoimmune hepatitis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc2_6"> 
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><h3 class="page-header">Metabolic & CVS co-morbidity  </h3></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">DM type 2</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc3_2"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Hypertension</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc3_3"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Hyperlipidemia</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc3_4"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">CAD</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc3_5"> 
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><h3 class="page-header">Allergy</h3></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Allergic rhinitis</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_2"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Allergic conjunctivitis</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_3"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Asthma</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_4"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Atopic dermatitis</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_5"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Allergic urticaria</label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_6"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Anaphylaxis </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_7"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="col-lg-8 col-md-8 col-sm-8">Hay fever </label> 
                            <input class="col-lg-4 col-md-4 col-sm-4" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="primary" name="mc4_8"> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label>Food allergy </label> 
                            <input type="button" class="btn btn-default" onclick="AddTextFeild()" value="Add">
                            <span id="foodallergy">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><h3 class="page-header">Other Co-morbidity</h3></div>
                        <div class="col-lg-12  col-md-12 col-sm-12">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                            <label>1) Infection</label>  
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="details" name="mc5_2_1">
                                            </div>
                                            </div>
                                        </td>                                        
                                        <td><input type="date" class="form-control" name="mc5_2_2"></td>
                                        <td><input type="date" class="form-control" name="mc5_2_3"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                            <label>2) Major surgery</label>  
                                            <div class="form-group">
                                            <input type="text" class="form-control" placeholder="details" name="mc5_3_1">
                                            </div>
                                            </div>
                                        </td> 
                                                                  
                                        <td><input type="date" class="form-control" name="mc5_3_2"></td>
                                        <td><input type="date" class="form-control" name="mc5_3_3"></td>
                                    </tr>
                                    <tr>
                                        <td><p>3) Osteoporosis/Fx</p></td>                                        
                                        <td><input type="text" class="form-control" placeholder="Site" name="mc5_4_1"></td>
                                        <td><input type="date" class="form-control" name="mc5_4_2"></td>
                                    </tr>
                                    <tr>
                                        <td><p>4) Malignancy</p></td>                                        
                                        <td><input type="text" class="form-control" placeholder="Specified" name="mc5_5_1"></td>
                                        <td><input type="date" class="form-control" name="mc5_5_2"></td>
                                    </tr>
                                </tbody>
                            </table>                                    
                        </div>
                    </div>
                </div>
                <!--Organ Involvement -->
                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Organ Involvement </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Organ</th>
                                            <th>Treatment</th>
                                            <th>Remission</th>
                                        </tr>
                                    </thead>
                                    <tbody id="OrganFeild"></tbody>
                                </table>
                                <input type="button" class="btn btn-default" onclick="AddOrganFeild()" value="Add">       
                            </div>
                        </div>
                    </div>   
                </div>
                <!--Previous Complication  -->
                <div class="panel panel-primary">
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Previous Complication  </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Organ</th>
                                            <th>Treatment</th>
                                            <th>Result</th>
                                        </tr>
                                    </thead>
                                    <tbody id="CompFeild"></tbody>
                                </table>
                                <input type="button" class="btn btn-default" onclick="AddCompFeild()" value="Add">   
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}
