<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLE Flare-up Predictor</title>

    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap2-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap2-toggle.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-toggle.css' %}" rel="stylesheet">
    <link href="{% static 'css/panel.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Morris Charts CSS -->
	<link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">

</head>
<body>
	{% block content %}
	{% endblock %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}" />

    <!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.min.js' %}" />
	<script src="{% static 'js/bootstrap2-toggle.min.js' %}" />
	
</body>
</html>
