{% extends "header.html" %}
{% block content %}  
    <script>
    function compare(a,b) {
        if (a.hn < b.hn)
            return -1;
        if (a.hn > b.hn)
            return 1;
        return 0;
    }
    
    $(document).ready(function(){
            $("#savehn").click(function(){
                var input_list = [];
                var rows = $("#datatable").dataTable().fnGetNodes();
                $("#hnck").prop('checked', false);
                message = "";
                for(var i = 0; i < rows.length; i++) {
//                    console.log(i);
                    if(rows[i].cells[1].childNodes[0].value !== null && rows[i].cells[1].childNodes[0].value !== "")
                       input_list.push({st:""+rows[i].cells[0].innerText, hn:""+rows[i].cells[1].childNodes[0].value});
                }
                var sorted_arr = input_list.sort(compare);
                var results = [];
//                console.log(sorted_arr);
                for (var i = 0; i < sorted_arr.length; i++) {
                    results.push(sorted_arr[i]);
//                    console.log(i);
//                    for (var j = 0; j < results.length; j++) console.log(results[j]); 
                    if(i===0){
                        if (sorted_arr[i].hn !== sorted_arr[i+1].hn) results.pop();
                    }
                    else if(i===sorted_arr.length-1){
                        if (sorted_arr[i].hn !== sorted_arr[i-1].hn) results.pop();
                    }
                    else{
                        if (sorted_arr[i].hn !== sorted_arr[i+1].hn && sorted_arr[i].hn !== sorted_arr[i - 1].hn) results.pop();
                    } 
                }
                message = "";
                if(results.length > 0){
                    $("#hnck").prop('checked', false);
                    message = "There are the same hns.\n";
                    for(var j = 0; j < results.length; j++) {
                        message += results[j].st+" : "+results[j].hn+"\n";
                    }
                } 
                else {
                    message = "Update complete.";
                    for(var k = 0; k < rows.length; k++) {
                        $("#post_data").append("<input type='hidden' name='"+rows[k].cells[0].innerText+"' value='"+rows[k].cells[1].childNodes[0].value+"'>");
//                        $("#"+rows[k].cells[0].innerText).attr('name', ''+rows[k].cells[0].innerText);
//                        $("#"+rows[k].cells[0].innerText).val("test");
                    }
                    $("#hnck").prop('checked', true);
                }
                alert(message); 
            });
        });
          
        function CheckHN(input){
            var tmpinput = input.value;
            var tmp;
           {% for data in hn_list %}
               tmp = "{{data.hn}}";
               st = "{{data.st}}";
               if(tmpinput.localeCompare(tmp) == 0){
                   $("#hnck").prop('checked', false);
                   alert('(HN) '+tmpinput+ ' is already used for (StudyNumber) '+st+'.');
               }
               else $("#hnck").prop('checked', true);
           {% endfor %}                    
        }
    </script>
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav ">
                <!--Normal-->
                <li>
                <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if user|lower == 'admin' %}
                        <li>
                            <a href="{% url 'hnDetail' %}"><i class="fa fa-fw fa-user"></i> HN detail</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:auth_user_changelist' %}"><i class="fa fa-fw fa-user"></i> Admin site</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <form method="post" action="{% url 'hnEditPost' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="page-wrapper" >
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-md-offset-2">
                        <div class="x_panel">
                            <div class="x_title"> 
                                {% load staticfiles %}
                                <h2>SLE Patients</h2>
								<ul class="nav navbar-right panel_toolbox">
                                    <li><button type="submit" id="savehn" class="btn btn-primary" style="margin:0;">Save</button></li>
									<li><a class="btn" href="" style="color: black; margin-left: 7px; background-color: #F2F2F2; padding: 6px 12px 6px 12px;" onclick="window.history.go(-1); return false;"> Cancel</a></li>
								</ul>
								<div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table id="datatable" class="table table-bordered table-hover table-striped jambo_table bulk_action" >
                                        <thead>
                                            <tr>                                            
                                                <th class="col-md-3">Study Number</th>                                               
                                                <th class="col-md-3">HN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for hn in hns %}
                                            <tr>
                                                <td>{{hn.studynumber}}</td>
                                                <td><input type="text" id="{{hn.studynumber}}" value="{{ hn.hn|default:"" }}" onchange="CheckHN(this);">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                            <div style="display: none;" ><input type="checkbox" id="hnck" required></div>
                                    </table>
                                    <div id="post_data">
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
{% endblock %}