{% extends "header.html" %}
{% block content %}  
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                <a href="index.html"> ภาพรวมคนไข้ทั้งหมด </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> วสุธร สนามชัย <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> ประวัติส่วนตัว</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> ตั้งค่า</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-fw fa-power-off"></i> ลงชื่อออก</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="page-wrapper" >
            <div class="container-fluid">     
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Area Line Graph Example with Tooltips</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading"> 
                                <h3 class="panel-title">รายการผู้ป่วย</h3>
                            </div>
                            <div class="panel-body">
                                <div class="panel-body col-lg-12">
                                    <div style="float: left;"> 
                                        <p style="font-size: 18px; margin: 4px; padding-right:1em"><b>Follow up</b></p>
                                    </div>
                                    <div style="float: left;"> 
                                        <p style="font-size: 14px; margin: 6px; color: #A4A4A4;"><span class="glyphicon glyphicon-paperclip"></span> ครั้งที่ 1 <span style="padding-left:1em" class="glyphicon glyphicon-time"></span> วันที่ 1 มกราคม 2560</p>
                                    </div>
                                    <div style="float: right;">
                                        <form class="navbar-form navbar-left">
                                            <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-default">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>Study Number</th>
                                                <th>ชื่อ</th>
                                                <th>นามสกุล</th>
                                                <th>เพศ</th>
                                                <th href="patient-records.html">ดูรายละเอียด</th>
                                                <th>% Flare-up</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            <tr>
                                                <td>1</td>
                                                <td>P00001</td>
                                                <td>สมบูรณ์</td>
                                                <td>พูนสุข</td>
                                                <td>ชาย</td>
                                                <td><a href="patient-records.html">ดูรายละเอียด</a></td>
                                                <td>30.50 %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <div class="col-md-12 text-center">
                                            <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                        </div>
                                    </div>  
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}