{% extends "header.html" %}
{% block content %}  
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav ">
                <!--Normal-->
                <li>
                <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{request.user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> ประวัติส่วนตัว</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> ตั้งค่า</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> ลงชื่อออก</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="page-wrapper" >
            <div class="container-fluid">     
                <div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
                            <div class="x_title"> 
                                <h2>SLEDAI score of patients</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="chart_SLEDAI" style="width: 100%; min-height: 400px"></div>
                            </div>
                        </div>
					  </div>
					  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						    <div class="x_panel">
                                <div class="x_title"> 
                                    <h2>SLICC criteria</h2>
                                    <div class="clearfix"></div>
                                </div>
							  <div class="x_content">
                                  <div id="chart_SLICC" style="width: 100%; min-height: 400px"></div>
							  </div>
							</div>
						</div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						    <div class="x_panel">
                                <div class="x_title"> 
                                    <h2>ACR criteria</h2>
                                    <div class="clearfix"></div>
                                </div>
							  <div class="x_content">
                                  <div id="chart_ACR" style="width: 100%; min-height: 480px"></div>
							  </div>
							</div>
						</div>
					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title"> 
                                <h2>SLE Patient</h2>
								<ul class="nav navbar-right panel_toolbox">	
									<li><a href="{% url 'EnrollAdd' %}">Add new Patient</a></li>
								</ul>
								<div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table id="datatable" class="table table-bordered table-hover table-striped jambo_table bulk_action" >
                                        <thead>
                                            <tr>                                            
                                                <th>Study Number</th>                                               
                                                <th>Gender</th>
                                                <th>Detail</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for patient in patients %}
                                            <tr>
                                                <td>{{ patient.studynumber }}</td>
                                                <td>{{ patient.gender }}</td>
                                                <td><a href="{% url 'patientrecord' patient.studynumber %}">See Detail</a></td>
                                                <td><span class="label label-info">Inactive</span></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
				</div>
        </div>
<script>
 if ("undefined" != typeof echarts) {
        var a = {
            color: ["#26B99A", "#34495E", "#BDC3C7", "#3498DB", "#9B59B6", "#8abb6f", "#759c6a", "#bfd3b7"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };
        
        if ($("#chart_SLEDAI").length) {
            var b = echarts.init(document.getElementById("chart_SLEDAI"), a);
            b.setOption({
                tooltip: {
                    trigger: "axis"
                },
                legend: {
                    data: ["sales", "purchases", "Hello"],
                    selected: {
                        'purchases' : false
                    },
                },
                toolbox: {
                    show: true,
                    feature : {
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                    }
                },
                calculable: true,
                dataZoom : {
                    show : true,
                    realtime : true,
                    start : 20,
                    end : 80
                },
                xAxis: [{
                    type: "category",
                    boundaryGap : true,
                    data : function (){
                        var list = [];
                        for (var i = 1; i <= 12; i++) {
                            list.push(i); 
                            //(visitdate)
                        }
                        return list;
                    }()
                }],
                yAxis: [{
                    type: "value"
                }],
                series: [{
                    name: "sales", //medicine name
                    type: "line",
                    data: [2, 4.9, 7, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20, 6.4, 3.3], //doseperdate 
                    markPoint: {
                        data: [{
                            type: "max",
                            name: "???"
                        }, {
                            type: "min",
                            name: "???"
                        }]
                    },
                    markLine: {
                        data: [{
                            type: "average",
                            name: "???"
                        }]
                    }
                }, {
                    name: "purchases",
                    type: "bar",
                    data: [2.6, 5.9, 9, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6, 2.3],
                    markPoint: {
                        data: [{
                            name: "sales",
                            value: 182.2,
                            xAxis: 7,
                            yAxis: 183
                        }, {
                            name: "purchases",
                            value: 2.3,
                            xAxis: 11,
                            yAxis: 3
                        }]
                    },
                    markLine: {
                        data: [{
                            type: "average",
                            name: "???"
                        }]
                    }
                }]
            })
        }
        if ($("#chart_ACR").length) {
            var i = echarts.init(document.getElementById("chart_ACR"), a);
            i.setOption({
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                calculable: !0,
                legend: {
                    x: "center",
                    y: "bottom",
                    data: [{% for data in ACRdata %}"{{data.name}}",{% endfor %}]
                },
                toolbox: {
                    show: false,
                },
                series: [{
                    name: "ACR criteria",
                    type: "pie",
                    radius: ["35%", "55%"],
                    itemStyle: {
                        normal: {
                            label: {
                                show: !0
                            },
                            labelLine: {
                                show: !0
                            }
                        },
                        emphasis: {
                            label: {
                                show: !0,
                                position: "center",
                                textStyle: {
                                    fontSize: "14",
                                    fontWeight: "normal"
                                }
                            }
                        }
                    },
                    data: [ {% for data in ACRdata %} {value: {{data.sum}}, name: "{{data.name}}" }, {% endfor %}]
                }]
            })
        }
        if ($("#chart_SLICC").length) {
            var j = echarts.init(document.getElementById("chart_SLICC"), a);
            j.setOption({
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: "center",
                    y: "bottom",
                    data: [{% for data in SLICCdata %}"{{data.name}}",{% endfor %}]
                },
                toolbox: {
                    show: false,
                },
                calculable: !0,
                series: [{
                    name: "SLICC criteria",
                    type: "pie",
                    radius: "55%",
                    center: ["50%", "48%"],
                    data: [ {% for data in SLICCdata %} {value: {{data.sum}}, name: "{{data.name}}" }, {% endfor %}]
                }]
            });
            var k = {
                    normal: {
                        label: {
                            show: !1
                        },
                        labelLine: {
                            show: !1
                        }
                    }
                },
                l = {
                    normal: {
                        color: "rgba(0,0,0,0)",
                        label: {
                            show: !1
                        },
                        labelLine: {
                            show: !1
                        }
                    },
                    emphasis: {
                        color: "rgba(0,0,0,0)"
                    }
                }
        }
    }
    
</script>
{% endblock %}