{% extends "header.html" %}
{% block content %}  
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav ">
                <!--Normal-->
                <li>
                <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if user|lower == 'admin' %}
                        <li>
                            <a href="{% url 'hnDetail' %}"><i class="fa fa-fw fa-user"></i> HN detail</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="page-wrapper" >
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
                            <div class="x_title">
                                <h2>Flare/Active/Inactive percentage</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div id="chart_Percent_Flare" style="width: 100%; min-height: 180px"></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div id="chart_Percent_Active" style="width: 100%; min-height: 180px"></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div id="chart_Percent_Inactive" style="width: 100%; min-height: 180px"></div>
                                </div>
                            </div>
                        </div>
					  </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<div class="x_panel">
                            <div class="x_title"> 
                                <h2>Gender</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="chart_Gender" style="width: 100%; min-height: 180px"></div>
                            </div>
                        </div>
					  </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
						<div class="x_panel">
                            <div class="x_title"> 
                                <h2>Age</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="chart_Age" style="width: 100%; min-height: 180px"></div>
                            </div>
                        </div>
					  </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
						    <div class="x_panel">
                                <div class="x_title"> 
                                    <h2>ACR criteria</h2>
                                    <div class="clearfix"></div>
                                </div>
							  <div class="x_content">
                                  <div id="chart_ACR" style="width: 100%; min-height: 530px"></div>
							  </div>
							</div>
						</div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title"> 
                                {% load staticfiles %}
                                <h2>SLE Patients</h2>
								<ul class="nav navbar-right panel_toolbox">
                                    <li style="border-right: 2px solid #E6E6E6;"><a href="{% url 'download' %}" style="color: #2F7C49; margin-right: 7px;"><img style="width: 15px; margin-top: -3px;" src="{% static 'img/excelicon.png' %}" /> Export data </a></li>
									<li><a href="{% url 'EnrollAdd' %}" style="margin-left: 7px;"><i class="fa fa-plus"></i> Add new patient</a></li>
								</ul>
								<div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table id="datatable" class="table table-bordered table-hover table-striped jambo_table bulk_action" >
                                        <thead>
                                            <tr>                                            
                                                <th>Study Number</th> 
                                                <th style="display: none;">HN</th> 
                                                <th>Gender</th>
                                                <th>Detail</th>
                                                <th>Prediction</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for patient in patients %}
                                            <tr>
                                                <td>{{ patient.sn.studynumber }}</td>
                                                <td style="display: none;">{{ patient.hn.hn }}</td>
                                                <td>{{ patient.sn.gender }}</td>
                                                <td><a href="{% url 'patientrecord' patient.sn.studynumber %}">See Detail</a></td>
                                                <td>{% for result in PredictResult %}
                                                    {% if result.St == patient.sn %}
                                                        {% if result.status == 'Flare' %}
                                                        <span class="label label-danger">Flare</span>
                                                        {% else %}
                                                        <span class="label label-info">Not flare</span>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% endfor %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
 if ("undefined" != typeof echarts) {
        var a = {
            color: ["#26B99A", "#34495E", "#D56062", "#b3d9ff", "#3498DB", "#F49CBB", "#8abb6f", "#759c6a", "#F7D1CD", "#ECC30B", "#F37748"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0,
                y: 26,
                y2: 20,
                x: 70,
                x2: 70
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };
        var b = {
            color: ["#74AFEA"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0,
                y: 26,
                y2: 20,
                x: 70,
                x2: 70
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };
    
        if ($("#chart_ACR").length) {
            var i = echarts.init(document.getElementById("chart_ACR"), a);
            i.setOption({
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)",
                },
                calculable: !0,
                legend: {
                    x: "center",
                    data: [{% for data in ACRdata %}"{{data.name}}",{% endfor %}]
                },
                series: [{
                    name: "ACR criteria",
                    type: "pie",
                    radius: ["35%", "55%"],
                    itemStyle: {
                        normal: {
                            label: {
                                show: !0
                            },
                            labelLine: {
                                show: !0
                            }
                        },
                        emphasis: {
                            label: {
                                show: !0,
                                position: "center",
                                textStyle: {
                                    fontSize: "14",
                                    fontWeight: "normal"
                                }
                            }
                        }
                    },
                    data: [ {% for data in ACRdata %} {value: {{data.sum}}, name: "{{data.name}}" }, {% endfor %}]
                }]
            })
        }
        if ($("#chart_Gender").length) {
            var j = echarts.init(document.getElementById("chart_Gender"), a);
            j.setOption({
                tooltip: {
                    trigger: "item",
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                toolbox: {
                    show: false,
                },
                calculable: !0,
                series: [{
                    name: "Gender",
                    type: "pie",
                    radius: "55%",
                    center: ["50%", "48%"],
                    data: [ {% for g in Gender%}
                           {value: {{g.num}}, name: "{{g.Gender}}", selected:true},
                           {% endfor %}]
                }]
            });
            var k = {
                    normal: {
                        label: {
                            show: !1
                        },
                        labelLine: {
                            show: !1
                        }
                    }
                },
                l = {
                    normal: {
                        color: "rgba(0,0,0,0)",
                        label: {
                            show: !1
                        },
                        labelLine: {
                            show: !1
                        }
                    },
                    emphasis: {
                        color: "rgba(0,0,0,0)"
                    }
                }
        }
       
        var flare = 0;
        var inactive = 0;
        var total = 0;
        var active = 0;
       {% for s in Status %}
            {% if s.Status == 'Flare' %} flare = {{s.num}}; {% endif %}
            {% if s.Status == 'Active' %} active = {{s.num}}; {% endif %}
            {% if s.Status == 'Inactive' %} inactive = {{s.num}}; {% endif %}
            {% if s.Status == 'Total' %} total = {{s.num}}; {% endif %}
       {% endfor %}
       if ($("#chart_Percent_Flare").length) {
            var j = echarts.init(document.getElementById("chart_Percent_Flare"), a);
            j.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: 'Flare patient',
                type: 'pie',
                radius: ['65%', '85%'],
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: flare,
                    name: 'Flare',
                    label: {
                        normal: {
                            formatter: '{d}%',
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#D56062'
                        },
                        emphasis: {
                            color: '#D56062'
                        }
                    },
                }, {
                    value: total-flare,
                    name: 'Not Flare',
                    label: {
                        normal: {
                            formatter: '\Flare',
                            textStyle: {
                                color: '#555',
                                fontSize: 15
                            }
                        }
                    },
                    tooltip: {
                        show: false
                    },
                    itemStyle: {
                        normal: {
                            color: '#aaa'
                        },
                        emphasis: {
                            color: '#aaa'
                        }
                    },
                    hoverAnimation: false
                }]
            }]
            });
        }
     if ($("#chart_Percent_Active").length) {
            var j = echarts.init(document.getElementById("chart_Percent_Active"), a);
            j.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: 'Active patient',
                type: 'pie',
                radius: ['65%', '85%'],
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: active,
                    name: 'Active',
                    label: {
                        normal: {
                            formatter: '{d}%',
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#ECC30B'
                        },
                        emphasis: {
                            color: '#ECC30B'
                        }
                    }
                }, {
                    value: total-active,
                    name: 'Not Active',
                    label: {
                        normal: {
                            formatter: '\Active',
                            textStyle: {
                                color: '#555',
                                fontSize: 15
                            }
                        }
                    },
                    tooltip: {
                        show: false
                    },
                    itemStyle: {
                        normal: {
                            color: '#aaa'
                        },
                        emphasis: {
                            color: '#aaa'
                        }
                    },
                    hoverAnimation: false
                }]
            }]
            });
        }
     if ($("#chart_Percent_Inactive").length) {
            var j = echarts.init(document.getElementById("chart_Percent_Inactive"));
            j.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: 'Inactive patient',
                type: 'pie',
                radius: ['65%', '85%'],
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: inactive,
                    name: 'Inactive',
                    label: {
                        normal: {
                            formatter: '{d}%',
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#34495E'
                        },
                        emphasis: {
                            color: '#34495E'
                        }
                    }
                }, {
                    value: total-inactive,
                    name: 'Not Inactive',
                    label: {
                        normal: {
                            formatter: '\Inactive',
                            textStyle: {
                                color: '#555',
                                fontSize: 15
                            }
                        }
                    },
                    tooltip: {
                        show: false
                    },
                    itemStyle: {
                        normal: {
                            color: '#aaa'
                        },
                        emphasis: {
                            color: '#aaa'
                        }
                    },
                    hoverAnimation: false
                }]
            }]
            });
        }
        if ($("#chart_Age").length) {
            var j = echarts.init(document.getElementById("chart_Age"), b);
            j.setOption({
                calculable : true,
                tooltip: {
                    trigger: 'axis'
                },
                xAxis : [
                    {
                        type : 'value',
                        boundaryGap : [0, 0.01],
                        name: '#People'
                    }
                ],
                yAxis : [
                    {
                        type : 'category',
                        data : [{% for a in Ages %}"{{a.Group}}",{% endfor %}],
                        name: 'Age'
                    }
                ],
                series : [
                    {
                        name:'Patient',
                        type:'bar',
                        data:[{% for a in Ages %}"{{a.Number}}",{% endfor %}]
                    }]
            });
        }
    }  
</script>
{% endblock %}