{% extends "header.html" %}
{% block content %}

<!-- Navigation -->
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">SLE Flare-up Predictor</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!-- For Follow up -->
                <li style="background-color: #455379;"><a href="{% url 'patientrecord' patient.studynumber %}"> SN : {{patient.studynumber}} </a></li>
                <!--Normal-->
                <li>
                <a href="{% url 'index' %}"> Home </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> ประวัติส่วนตัว</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> ตั้งค่า</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url "logout" %}"><i class="fa fa-fw fa-power-off"></i> ลงชื่อออก</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

     
        <div id="page-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"> 
                        <div class="x_panel">
                            <div class="x_title"> 
                                <h2>SLEDAI score</h2>
                                <div class="clearfix"></div>
                            </div>
                        <div class="x_content">
                           <div id="chart_SLEDAI" style="width: 100%; min-height: 250px"></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"> 
                        <div class="x_panel">
                            <div class="x_title"> 
                                <h2>Laboratory</h2>
                                <div class="clearfix"></div>
                            </div>
                        <div class="x_content">
                           <div id="chart_Followup_lab" style="width: 100%; min-height: 250px"></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                             <div class="x_title"> 
                                <h2>Medication</h2>
                                <div class="clearfix"></div>
                            </div>
                        <div class="x_content">
                           <div id="chart_Followup_med" style="width: 100%; min-height: 250px"></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12"> 
                        
                        <div class="x_panel">
                           <div class="x_title"> 
                                <h2>SLE Patient</h2>
								<ul class="nav navbar-right panel_toolbox">	
									<li><a href="{% url 'followupnew' patient.studynumber %}"><i class="fa fa-plus"></i> Add new follow up</a></li>
								</ul>
								<div class="clearfix"></div>
                            </div>
                           <div class="x_content">
                                   <table id="datatable" class="table table-bordered table-hover table-striped jambo_table bulk_action" >
                                       <thead>
                                           <tr>
                                               <th>Number</th>
                                               <th>Datetime</th>
                                               <th>Detail</th>
                                               <th>SLEDAI Score</th>
                                               <th>Stauts</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           {% for visit in visit_list %}
                                           <tr>
                                               <td>{{ forloop.counter }}</td>
                                               <td>{{ visit.visitdate }}</td>
                                               <td><a href="{% url 'followDetail' visit.visitingid.visitingid %}">See Detail</a></td>
                                               <td>
                                                   <div class="progress" style="margin-bottom:0;">
                                                       {% if visit.sledai_total >= 12 %}
                                                       <div class="progress-bar progress-bar-danger" style="width: calc({{ visit.sledai_total }}% * 4.5);" aria-valuenow="{{ visit.sledai_total }}" aria-valuemin="0" aria-valuemax="30">{{ visit.sledai_total }}</div>
                                                       {% elif visit.sledai_total >= 5 %}
                                                       <div class="progress-bar progress-bar-warning" style="width: calc({{ visit.sledai_total }}% * 4.5);" aria-valuenow="{{ visit.sledai_total }}" aria-valuemin="0" aria-valuemax="30">{{ visit.sledai_total }}</div>
                                                       {% elif visit.sledai_total >= 0 %}
                                                       <div class="progress-bar" style="width: calc({{ visit.sledai_total }}% * 4.5);" aria-valuenow="{{ visit.sledai_total }}" aria-valuemin="0" aria-valuemax="30">{{ visit.sledai_total }}</div>
                                                       {% endif %}
                                                    </div>
                                               </td>
                                                {% if visit.status == 'inactive' %}
                                                <td><span class="label label-default">Inactive</span></td>
                                                {% elif visit.status == 'active' %}
                                                <td><span class="label label-info">Active</span></td>
                                                {% elif visit.status == 'flare' %}
                                                <td><span class="label label-danger">Flare</span></td>
                                                {% else %}
                                                <td><span class="label label-default">Inactive</span></td>
                                                {% endif %}        
                                           </tr>
                                           {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"> 
                        <!--<div class="x_panel" style="min-height: 235px;">
                            <div class="x_title"> 
                                <h2>Effect</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-bordered" >
                                       <thead>
                                           <tr class="active">
                                               <th>Datetime</th>
                                               <th>Medication</th>
                                               <th>Detail(effect)</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr>
                                               <td>2/5/2017</td>
                                               <td>Nutpapon</td>
                                               <td>Bigger</td>
                                           </tr>
                                           <tr>
                                               <td>7/6/2017</td>
                                               <td>Wasutorn</td>
                                               <td>Smaller</td>
                                           </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <div class="x_panel">
                            <div class="x_title"> 
                                <h2>Flare-up Prediction</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                   <!-- <li><a href=""><i class="fa fa-repeat"></i> Refresh</a></li> -->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; height: 85px;">
                                        {% if Result == 1 %}
                                        <p style="color: #D8D8D8; font-size: 35px; font-weight: 500; height: 60px; border: 4px solid #D8D8D8; border-radius: 5px; display: inline; padding: 5px;">Not Flare</p>
                                        <p style="color: #FA5858; font-size: 35px; font-weight: 500; height: 60px; border: 4px solid #FA5858; border-radius: 5px; display: inline; padding: 5px;">Flare</p>
                                        {% else %}
                                        <p style="color: #81BEF7; font-size: 35px; font-weight: 500; height: 60px; border: 4px solid #81BEF7; border-radius: 5px; display: inline; padding: 5px;">Not Flare</p>
                                        <p style="color: #D8D8D8; font-size: 35px; font-weight: 500; height: 60px; border: 4px solid #D8D8D8; border-radius: 5px; display: inline; padding: 5px;">Flare</p>
                                        {% endif %}
                                        <div style="padding: 7px;">
                                          <span class="count_bottom"><i class="fa fa-calendar"></i>{% if latest_visit.nextvisit is not None %}The next appointment date is {{latest_visit.nextvisit}}
                                          {% else %}
                                            The next appointment is in 62 days.
                                          {% endif %}
                                            </span>  
                                        </div>
                                </div>
                                <!--
                                <div class="col-lg-12 col-md-4 col-sm-4">
                                    <table class="table">
                                        <tbody>
                                          <tr class="active">
                                              <td class="text-center" align="center" colspan="2">Details of last visit</td>
                                          </tr>
                                            <tr>
                                                <td><i class="fa fa-flask"></i>Hb (g/dL): 50</td>
                                                <td><i class="fa fa-flask"></i>WBC (uL): 120000</td>
                                          </tr>
                                           <tr>
                                                <td><i class="fa fa-flask"></i>ESR (mm/hr): 20</td>
                                                <td><i class="fa fa-flask"></i>Platelets (uL): 2000</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
-->
                            </div>
                        </div>
                            <div class="x_panel">
                                <div class="x_title"> 
                                    <h2>Enrollment</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table class="countries_list">
                                            <tbody>
                                              <tr>
                                                  <td><i class="fa fa-calendar"></i> Date of diagnosis</td>
                                                <td class="fs15 fw700 text-right">{{patient.dateofdiagnosis}}</td>
                                              </tr>
                                                <tr>
                                                  <td><i class="fa fa-calendar"></i> Date of enrollment</td>
                                                <td class="fs15 fw700 text-right">{{patient.dateofenrollment}}</td>
                                              </tr>
                                                <tr>
                                                  <td>
                                                    {% if patient.gender == 'Male' %}
                                                      <i class="fa fa-male"> </i>
                                                    {% elif patient.gender == 'Female' %}
                                                      <i class="fa fa-female"> </i>
                                                    {% else %}
                                                      <i class="fa fa-user"> </i>
                                                    {% endif %}Gender</td>
                                                <td class="fs15 fw700 text-right">{{patient.gender}}</td>
                                              </tr>
                                                <tr>
                                                    <td><i class="fa fa-calendar"></i>  Date of birth</td>
                                                    <td class="fs15 fw700 text-right">{{patient.dateofbirth}}</td>
                                              </tr>
                                                <tr>
                                                    <td colspan="2"><i class="fa fa-stethoscope"></i> Revised ACR criteria 
                                                        <div style="margin:0;">
                                                            {% if ACRpatient.acr1 is True %}<span class="label label-default">Serositis</span>{% endif %}                                     {% if ACRpatient.acr2 is True %}<span class="label label-default">Malar Rash</span>{% endif %}
                                                            {% if ACRpatient.acr3 is True %}<span class="label label-default">Renal Disorder</span>{% endif %} 
                                                            {% if ACRpatient.acr4 is True %}<span class="label label-default">Discoid Rash</span>{% endif %} 
                                                            {% if ACRpatient.acr5 is True %}<span class="label label-default">Neurological Disorder</span>{% endif %} 
                                                            {% if ACRpatient.acr6 is True %}<span class="label label-default">Photosensitivity</span>{% endif %} 
                                                            {% if ACRpatient.acr7 is True %}<span class="label label-default">Haematological Disorder</span>{% endif %} 
                                                            {% if ACRpatient.acr8 is True %}<span class="label label-default">Oral Ulcers</span>{% endif %} 
                                                            {% if ACRpatient.acr9 is True %}<span class="label label-default">Immunological Disorder</span>{% endif %} 
                                                            {% if ACRpatient.acr10 is True %}<span class="label label-default">Arthritis</span>{% endif %} 
                                                            {% if ACRpatient.acr11 is True %}<span class="label label-default">PositiveANA</span>{% endif %} 
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><i class="fa fa-stethoscope"></i> Revised SLICC criteria 
                                                        <div style="margin:0;">
                                                            {% if SLICCpatient.slicc1 is True %}<span class="label label-default">AcuteCutaneous</span>{% endif %}                           {% if SLICCpatient.slicc2 is True %}<span class="label label-default">Chronic Cutaneous</span>{% endif %}
                                                            {% if SLICCpatient.slicc3 is True %}<span class="label label-default">Mucosal Ulcer</span>{% endif %} 
                                                            {% if SLICCpatient.slicc4 is True %}<span class="label label-default">NonScaring Alopecia</span>{% endif %} 
                                                            {% if SLICCpatient.slicc5 is True %}<span class="label label-default">Arthritis</span>{% endif %} 
                                                            {% if SLICCpatient.slicc6 is True %}<span class="label label-default">Serositis</span>{% endif %} 
                                                            {% if SLICCpatient.slicc7 is True %}<span class="label label-default">Renal</span>{% endif %} 
                                                            {% if SLICCpatient.slicc8 is True %}<span class="label label-default">Neuro</span>{% endif %} 
                                                            {% if SLICCpatient.slicc9 is True %}<span class="label label-default">Hemolytic Anemia</span>{% endif %} 
                                                            {% if SLICCpatient.slicc10 is True %}<span class="label label-default">Leukopenia</span>{% endif %} 
                                                            {% if SLICCpatient.slicc11 is True %}<span class="label label-default">Thrombocytopenia</span>{% endif %} 
                                                            {% if SLICCpatient.slicc12 is True %}<span class="label label-default">ANA</span>{% endif %} 
                                                            {% if SLICCpatient.slicc13 is True %}<span class="label label-default">AntiDNA</span>{% endif %} 
                                                            {% if SLICCpatient.slicc14 is True %}<span class="label label-default">AntiSm</span>{% endif %} 
                                                            {% if SLICCpatient.slicc15 is True %}<span class="label label-default">AntiPhospholipid</span>{% endif %} 
                                                            {% if SLICCpatient.slicc16 is True %}<span class="label label-default">Low Complement</span>{% endif %} 
                                                            {% if SLICCpatient.slicc17 is True %}<span class="label label-default">DirectCoombs Test</span>{% endif %} 
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <ul style="margin:0;" class="pager">
                                            <li class="next"><a href="{% url 'enrollDetail' patient.studynumber %}">Full detail <span aria-hidden="true">&rarr;</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
<script>
 if ("undefined" != typeof echarts) {
        var a = {
            color: ["#26B99A", "#34495E", "#8ED4EA", "#3498DB", "#F49CBB", "#8abb6f", "#D03058", "#F7D1CD", "#ECC30B", "#F37748", "#D56062", "#B68CB8", "#6461A0", "#314CB6", "#0A81D1", "#FC9F5B", "#FBD1A2", "#7DCFB6", "#33CA7F"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0,
                y: 110
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };
        
        if ($("#chart_Followup_med").length) {
            var b = echarts.init(document.getElementById("chart_Followup_med"), a);
            b.setOption({
                tooltip: {
                    trigger: "axis",
                    formatter: function (params,ticket,callback) {
                        var res = params[0].name;
                        for (var i = 0, l = params.length; i < l; i++) {
                          if(params[i].value > 0){
                            res += '<br/>' + params[i].seriesName + ' : ' + params[i].value;
                          }
                        }
                        setTimeout(function (){
                            callback(ticket, res);
                        }, 0)
                        return 'loading';
                    }
                },
                legend: {
                    data: [{% for med in MEDdata %}"{{med.name}}",{% endfor %}],
                },
                /*toolbox: {
                    show: true,
                    feature : {
                        magicType : {
                            show: true, 
                            title : {
                                line : 'Line chart',
                                bar : 'Bar chart'
                            },type: ['line', 'bar']},
                        restore : {show: true, title: 'restore'},
                    },
                },*/
                calculable: true,
                dataZoom : {
                    show : true,
                    realtime : true,
                    start : 80,
                    end : 100
                },
                xAxis: [{
                    type: "category",
                    boundaryGap : true,
                    name: 'date/time',
                    data : [{% for visit in visit_list %}"{{visit.visitdate}}",{% endfor %}]
                }],
                yAxis: [{
                    type: "value",
                    name: 'dose/date'
                }],
                series: [{% for med in MEDdata %}
                {
                    name: "{{med.name}}",
                    type: "bar",
                    smooth: !0,
                    itemStyle: {
                        normal: {
                            areaStyle: {
                                type: "default"
                            }
                        }
                    },
                    data: [{% for value in med.values %}{% if value is None %} 0 {% else %} {{value}} {% endif %},{% endfor %}] 
                },
                {% endfor %}
                ]
            })
        }
        if ($("#chart_Followup_lab").length) {
            var b = echarts.init(document.getElementById("chart_Followup_lab"), a);
            b.setOption({
                tooltip: {
                    trigger: "axis"
                },
                legend: {
                    data: [{% for lab in LABdata %}"{{lab.name}}",{% endfor %}],
                    selected: {
                        {% for lab in LABdata %}
                        '{{lab.name}}' : false,
                        {% endfor %}
                        'C3' : true, 'C4': true
                    },
                },
                /*toolbox: {
                    show: true,
                    feature : {
                        magicType : {
                            show: true, 
                            title : {
                                line : 'Line chart',
                                bar : 'Bar chart'
                            },type: ['line', 'bar']},
                        restore : {show: true, title: 'restore'},
                    },
                    y: "bottom"
                },*/
                calculable: true,
                dataZoom : {
                    show : true,
                    realtime : true,
                    start : 80,
                    end : 100
                },
                xAxis: [{
                    type: "category",
                    boundaryGap : true,
                    name: 'date/time',
                    data : [{% for visit in visit_list %}"{{visit.visitdate}}",{% endfor %}]
                }],
                yAxis: [{
                    type: "value",
                    name: 'value'
                }],
                series: [{% for lab in LABdata %}
                {
                    name: "{{lab.name}}",
                    type: "line",
                    data: [{% for value in lab.values %}{% if value is None %} 0 {% else %} {{value}} {% endif %},{% endfor %}] 
                },
                {% endfor %}
                ]
            })
        }
    }
    if ("undefined" != typeof echarts) {
        var a = {
            color: ["#26B99A", "#34495E", "#CEFDFF", "#3498DB", "#F49CBB", "#8abb6f", "#759c6a", "#F7D1CD", "#ECC30B", "#F37748", "#D56062", "#B68CB8", "#6461A0", "#314CB6", "#0A81D1", "#FC9F5B", "#FBD1A2", "#7DCFB6", "#33CA7F"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0,
                y: 30
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };
        
        if ($("#chart_SLEDAI").length) {
            var f = echarts.init(document.getElementById("chart_SLEDAI"), a);
            f.setOption({
                tooltip: {
                    trigger: "axis",
                    formatter: function (params,ticket,callback) {
                        var res = params[0].name;
                        for (var i = 0, l = params.length; i < l; i++) {
                          if(params[i].value > 0){
                            res += '<br/>' + params[i].seriesName + ' : ' + params[i].value;
                          }
                        }
                        setTimeout(function (){
                            callback(ticket, res);
                        }, 0)
                        return 'loading';
                    }
                },
                /*legend: {
                    data:[{% for sledai in SLEDAIdata %}"{{sledai.name}}",{% endfor %}],
                    y: 25,
                    selected: {
                        {% for sledai in SLEDAIdata %}
                        '{{sledai.name}}' : false,
                        {% endfor %}
                        'Total' : true
                    }
                },*/
                /*toolbox: {
                    show: true,
                    feature : {
                        magicType : {
                            show: true,  
                            title : {
                                line : 'Line chart',
                                bar : 'Bar chart'
                            },type: ['line', 'bar']},
                        restore : {show: true, title : 'restore'}
                    },
                },*/
                calculable: true,
                dataZoom : {
                    show : true,
                    realtime : true,
                    start : 0,
                    end : 100
                },
                xAxis: [{
                    type: "category",
                    name: 'date/time',
                    boundaryGap: !1,
                    data: [{% for visit in visit_list %}"{{visit.visitdate}}",{% endfor %}]
                }],
                yAxis: [{
                    type: "value",
                    name: 'score'
                }],
                series: [{% for sledai in SLEDAIdata %}
                {
                    name: "{{sledai.name}}",
                    type: "line",
                    data: [{% for value in sledai.values %}{% if value is None %} 0 {% else %} {{value}} {% endif %},{% endfor %}]     
                },
                {% endfor %}
                ]
            })
        }
    }
</script>
    <!-- /#wrapper -->
{% endblock %}